.card {
    background-color: rgb(29, 27, 39);
    padding: 20px;
    position: relative;
    transition: 400ms;
    cursor: pointer;
    font-size: 20px;
    
}

@media screen and (max-width:590px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width:250px) {
    .card::before {
        display: none;
    }
}

.card:hover {
    transition: 500ms;
    background-color: rgb(34, 32, 46);
}

.card::before {
    content: "";
    position: absolute;
    width: 30%;
    min-width: 60px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    top: 59px;
    left: 35px;
    transition: 500ms;
}

.card:hover::before {
    transition: 500ms;
    width: 70%;
}

.card__name {
    font-size: 25px;
    color: #c7d7db;
    max-width: 185px;
    line-height: 38px;
}

.card__stack {
    margin-top: 40px;
}

.card__libraries {
    font-size: 15px;
    margin-top: 1px;
    color: rgb(103, 101, 113);
}

.card__language {
    margin-top: 8px;
    font-size: 18px;
}

.card__link {
    text-decoration: none;
}